body {
  margin: 0;
  padding: 0;
}
div {
  background: red;
  width: 100px;
  height: 30px;
  margin: 20px;
  padding: 20px;
}
span {
  background: red;
  width: 100px;
  height: 30px;
  margin: 20px;
  padding: 20px;
}
